name: air.mrbuild

on:
  push:
    paths:
      - "build/github/**"
      - "src/**"
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      force_release:
        description: Force release when not on trunk branch
        required: true
        default: false
        type: boolean

env:
  BUILDNUMBER: "0.0.${{ github.RUN_NUMBER }}"
  VERSION_NUMBER: "0.0.${{ github.RUN_NUMBER }}"
  EirctlVersion: 0.9.6

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./build/github/templates/install-eirctl

      # Create the binaries and the integration tests
      - run: eirctl build

      # Execute the integration tests
      - run: eirctl inttest

      # Publish test results
      - name: Test Reports
        uses: xportation/junit-coverage-report@main
        with:
          github-token: ${{ secrets.ENSONOSTACKS_GH_TOKEN }}
          junit-path: outputs/bin/report.xml
          coverage-path: outputs/bin/coverage.xml

      # Upload the binaries, but not the integration tests
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: assets
          path: |
            outputs/bin
            !outputs/bin/*inttest*
            outputs/docs/pdf

  release:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref == 'refs/heads/main' || inputs.force_release == true }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./build/github/templates/install-eirctl

      # Download the artifacts that have been uploaded
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: assets
          path: download

      # Call AIR to upload the artefacts as a release
      - name: Create GH Release
        id: gh_release
        run: eirctl release
        env:
          API_KEY: ${{ secrets.ENSONOSTACKS_GH_TOKEN }}
          COMMIT_ID: ${{ github.sha }}
          ARTIFACTS_DIR: download
          REPOSITORY: mrbuild
          OWNER: Ensono
          PUBLISH_RELEASE: true
